/* Custom CSS for footer bottom border */

.footer {
    padding: 20px 0; 
    position: relative; 

}

.footer span {
    font-size: 14px; 
}


.footer .text-center {
    text-align: center; 
}

.footer::after {
    content: '';
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    border-bottom: 1px solid #ccc;
}



.table thead th {
    font-weight: bold;
    background-color: #f0f0f0;
}

.table td, .table th {
    padding: 10px;
    text-align: center;
}

.table tbody tr:hover {
    background-color: #f9f9f9;
}


.table-actions {
    display: flex;
    justify-content: center;
}

.table-actions button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
}

.table-actions button:hover {
    background-color: #0056b3;
}

.media-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.media-header a {
    margin-left: auto; 
}





.media-upload-btn {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none; 
}

.media-upload-btn:hover {
    background-color: #0056b3; 
}

.media-upload-btn a {
    color: inherit; 
    text-decoration: none; 
}


    input[type="file"] {
        margin-bottom: 10px;
    }

    #previewContainer {
        margin-top: 20px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    #preview img,
    #preview video {
        max-width: 100%;
        max-height: 300px; 
    }

    .toast {
        border-radius: 5px;
        font-size: 14px;
        padding: 15px;
        margin-bottom: 15px;
    }

    .toast-error {
        background-color: #ff3333;
        color: #fff;
    }



    .media-submit-btn {
        background-color: #007bff; 
        color: #fff; 
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none; 
    }
    
    .media-submit-btn:hover {
        background-color: #0056b3; 
    }
    
    .media-submit-btn a {
        color: inherit; 
        text-decoration: none; 
    }

    .image-container {
        max-width: 100%;
        overflow: hidden;
        border: 1px solid #ddd;
        padding: 10px;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
    }
    
    .bordered {
        border: 2px solid #ccc; 
        border-radius: 8px;
    }

